
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --card: 240 10% 3.9%;
    --popover: 240 10% 3.9%;
    --primary: 0 0% 98%;
    --secondary: 240 3.7% 15.9%;
    --muted: 240 3.7% 15.9%;
    --accent: 240 3.7% 15.9%;
    --destructive: 0 62.8% 30.6%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --radius: 0;
  }
}

* {
  image-rendering: pixelated;
}

body {
  @apply bg-background text-white antialiased;
}

